## Question 1

In [ ]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

 Here we are declaring variable 'a' as a global variable.<br>
 So every time we are calling method b() it will call method c() and c will return a+2, which will get stored in a.  
 So here we are calling b() methods 3 times. so the answer will be 6.

## Question 2

In [64]:

def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("file "+file_name +" not found")
fileLength('words.txt')

5346

In [65]:
fileLength('word.txt')

file word.txt not found

## Question 3

In [66]:
class Marsupial:
    
    def __init__(self):
        self.content = []
    
    def put_in_pouch(self,a):
        self.content.append(a)
    
    def pouch_contents(self):
        print(self.content)
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [67]:

class Kangaroo(Marsupial):
    
    def __init__(self,x=0,y=0):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
    
    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
        
    def __str__(self):
        rtn_str="I am a kangaroo located at coordinates("+str(self.x)+","+str(self.y)+")"
        return rtn_str
    
        
k = Kangaroo(0,0)
print(k)

I am a kangaroo located at coordinates(0,0)

In [68]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
['doll', 'firetruck', 'kitten']   
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a kangaroo located at coordinates(3,0)

## Question 4

In [69]:
def collatz(x):
    
    if(x==1):
        print(int(x))
    elif((x%2)==0):
        print(int(x))
        collatz(x/2)
    else:
        print(int(x))
        collatz(3*x+1)

        
collatz(1)

1

In [70]:
collatz(10)

10
5
16
8
4
2
1

## Question 5

In [10]:
def binary(x):
    if(x==0 or x==1):
        print(x)
    else:
        print(x%2,end="")
        binary(x//2)



binary(0)

0

In [11]:
binary(1)

1

In [12]:
binary(3)

11

In [13]:
binary(9)

1001

## Question 6

In [2]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    
    def __init__(self):
        self.flag = False
        HTMLParser.__init__(self)
        self.start_tags=[]
        self.heading_data=[]

    def feed(self,filename):
        infile = open('w3c.html') 
        content = infile.read() 
        infile.close()
        HTMLParser.feed(self,content)
        self.print_details()
        
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.flag=True
            self.start_tags.append(0)
        if tag == 'h2':
            self.flag=True
            self.start_tags.append(1)
        if tag == 'h3':
            self.flag=True
            self.start_tags.append(2)
        if tag == 'h4':
            self.flag=True
            self.start_tags.append(3)
        if tag == 'h5':
            self.flag=True
            self.start_tags.append(4)
        if tag == 'h6':
            self.flag=True
            self.start_tags.append(5)
        
            
    def handle_data(self, data):
        global heading_data
        if self.flag == True:
            self.flag=False
            self.heading_data.append(data)
            
    def print_details(self):
        for i in self.start_tags:
            print('\t'*i + self.heading_data[i])

In [3]:
headingParser = HeadingParser() 
headingParser.feed('w3c.html')

W3C Mission
	Principles

## Question 7

In [71]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

In [72]:
visited = set() # initialize visited to an empty set

urls=[]
def webdir(url,depth,indent):
    global visited
    print(("\t"*indent)+url)
    for deep in range(depth):
        visited.add(url)
        resource = urlopen(url)
        content = resource.read().decode()
        collector = Collector(url)
        collector.feed(content)
        urls=collector.getLinks()
        for nesturl in urls:
            if nesturl not in visited:
                webdir(nesturl,depth-1,indent+1)

In [74]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html',2,0)

http://reed.cs.depaul.edu/lperkovic/one.html
	http://reed.cs.depaul.edu/lperkovic/two.html
		http://reed.cs.depaul.edu/lperkovic/four.html
	http://reed.cs.depaul.edu/lperkovic/three.html
		http://reed.cs.depaul.edu/lperkovic/four.html

## Question 8

In [50]:
import sqlite3

In [51]:
con=sqlite3.connect('ClimateDb.db')
cur=con.cursor()

In [52]:
cur.execute("CREATE TABLE Climate (City text, Country text, Season text, Temperature float, Rainfall float)")

In [53]:
cur.execute("INSERT INTO Climate VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO Climate VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO Climate VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO Climate VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO Climate VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO Climate VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO Climate VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO Climate VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO Climate VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO Climate VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO Climate VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO Climate VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

In [54]:
cur.execute("SELECT * FROM Climate")
for i in cur:
    print (i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [55]:
#a) All the temperature data.

cur.execute("SELECT Temperature FROM Climate")
for i in cur:
    print (i[0])

24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [56]:
#b) All the cities, but without repetition.

cur.execute("SELECT DISTINCT(City) FROM Climate")
for i in cur:
    print (i[0])

Mumbai
London
Cairo

In [57]:
#c) All the records for India.

cur.execute("SELECT * FROM Climate Where Country='India'")
for i in cur:
    print (i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [58]:
#d) All the Fall records.
cur.execute("SELECT * FROM Climate WHERE Season='Fall'")
for i in cur:
    print (i)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [59]:
#e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

cur.execute("SELECT City,Country,Season FROM Climate WHERE Rainfall>=200 AND Rainfall<=400")
for i in cur:
    print (i)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [76]:
#f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

cur.execute("SELECT city, country FROM Climate WHERE Season='Fall' AND temperature>20 ORDER BY Temperature")
for i in cur:
    print (i)

('Cairo', 'Egypt')
('Mumbai', 'India')

In [77]:
#g) The total annual rainfall for Cairo.

cur.execute("SELECT sum(Rainfall) FROM Climate WHERE City = 'Cairo'")
for i in cur:
    print (i[0])

27.6

In [78]:
#h) The total rainfall for each season

cur.execute("SELECT season, round(sum(Rainfall),2) FROM Climate GROUP BY Season")
for i in cur:
    print (i)

('Fall', 569.0)
('Spring', 192.3)
('Summer', 1706.5)
('Winter', 230.1)

## Question 9

In [30]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
newlist = [x.upper() for x in words]
print(newlist)
newlist = [x.lower() for x in words]
print(newlist)
newlist = [len(x) for x in words]
print(newlist)
newlist = [[x.upper(),x.lower(),len(x)] for x in words]
print(newlist)
newlist = [x for x in words if len(x)>=4]
print(newlist)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']